* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	color:#555555;
}

div.wrapper {
  display: flex;
  flex-flow: row wrap;
  margin:0 auto;
}

div.wrapper > * {
  flex: 1 100%;
}

div.container{
	width: 1140px;
}

@media all and (max-width: 500px) {
	div.container{
		width: 320px;
	}
}


.header {
	background:url("img/img1.png") no-repeat;
	background-position: center;
	height:770px;
	display: flex;
	/* flex-flow: column wrap; */
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
}

.overlay {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(0,0,0,0.2);
	width:100%;
	height:770px;
	z-index:10;
}

.header-nav {
   margin: 0;
   list-style: none;
   display: flex;
   -webkit-flex-flow: row nowrap;
   justify-content:space-between;
	 padding-top: 40px;
	 position: relative;
	 z-index:11;
}

.header-nav li {
	/* width:555px; */
	/* margin: auto; */
	/* flex: 1 1 0; */
}

.logo {
	 background: url("img/logo.png") no-repeat;
	 background-position: left;
	 height:23px;
	 width:95px;
}

.menu, .works-row-menu {
	list-style: none;
	text-decoration: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
  margin: 0;
}

.menu a {
	text-decoration: none;
	color:white;
  margin-left:36px;
	font-weight: 400;
	font-size: 14px;
	display: block;
}

.menu a:hover {
	color:black;
}

.title-part{
	display: flex;
	-webkit-flex-flow: column wrap;
	align-items: center;
	align-self: center;
	padding: 260px 0 257px 0;
	color: white;
	font-weight: 400;
	font-size: 20px;
	position: relative;
	z-index:11;
}

.title, .title2 {
  font-size: 50px;
  text-transform:uppercase;
}

.welcome-text{
	font-family: 'Roboto Slab', serif;
	text-transform: capitalize;
	padding-top: 30px;
	padding-bottom: 56px;
 }

.start-butt, .start-butt1 {
	 background: none;
	 width:180px;
	 height:50px;
	 border:2px solid white;
	 border-radius: 2px;
	 color:white;
	 font-size: 16px;
	 font-weight: 400;
	 text-transform:uppercase;
	 outline: none;
 }
.start-butt:hover, .start-butt1:hover {
		background: white;
		color:#c0301c;
		border:2px solid #e1e1e1;
	}


	@media all and (max-width: 800px) {
	.header-nav {
		justify-content: space-around;
	}
	.menu {
		justify-content: space-around;
	}
	}

@media all and (max-width: 500px) {
.header-nav {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-self: center;
		align-content: space-around;
		align-self: center;
		width:100%;
		margin: auto;
	}

.menu {
		flex-flow: column nowrap;
		justify-content: center;
		align-self: center;
		align-content: stretch;
		align-self: center;
		padding-top: 30px;

	}
.menu a {
		text-align: center;
		padding: 10px;
		border-top: 1px solid rgba(255, 255, 255,1);
		border-bottom: 1px solid rgba(255, 255, 255,0.1);
		margin-left:0px;
	}

	.title-part{
		display: flex;
		-webkit-flex-flow: column wrap;
		align-items: center;
		align-self: center;
		text-align: center;
		padding: 30px 0 30px 0px;
	}
	}

	/* MAIN  */

.main {
		/* height:580px; */
		/* background: white; */
		display: flex;
		flex-flow: row wrap;
    justify-content: space-around;
	}

.servises{
 	display: flex;
 	-webkit-flex-flow: column wrap;
	justify-content: space-around;
 	font-weight: 400;
 	font-size: 20px;
 }

.servises,.latest-work-row, .calendar {
	  color:#555555;
		padding: 100px 0 100px 0;
		text-align: center;
	}

.line {
	/* background:url("img/line.png") no-repeat; */
	background-position: center;
	/* height: 10px; */
}

.title2 {
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 30px;
}

.services-text {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	font-weight: 400;
	padding-top: 30px;
}

.menu-services {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	text-align: center;
	list-style: none;
	text-decoration: none;
	padding-top:70px;
}

.menu-services li {
	text-align: center;
	/* width:365px; */
}

.butt1 {
	background:none;
	width:90px;
	height:90px;
	border-radius:45px;
	border: 1px solid #dddddd;
	color:#c0301c;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
	outline: none;
}

.butt1:hover {
	background-color: #c0301c;
	color:white;
}

.butt2 {
	background:url("img/icon2.png") no-repeat;
	background-position: center;
	background-color: none;
	width:90px;
	height:90px;
	border-radius:45px;
	border: 1px solid #dddddd;
	color:#c0301c;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 30px;
	outline: none;
}

.butt2:hover {
	background:url("img/icon2.png") no-repeat;
	background-position: center;
	background-color: rgba(192,48,28,0.6);
	color:white;
}

.butt3 {
	background:url("img/icon3.png") no-repeat;
	background-position: center;
	background-color: none;
	width:90px;
	height:90px;
	border-radius:45px;
	border: 1px solid #dddddd;
	color:#c0301c;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 30px;
	outline: none;
}

.butt3:hover {
	background:url("img/icon3.png") no-repeat;
	background-position: center;
	background-color: rgba(192,48,28,0.6);
	color:white;
}

.item1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 25px;
	text-transform: uppercase;
}
.itemtext {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
	text-align: center;
}

@media all and (max-width: 800px) {
.services {
	justify-content: space-around;
}
.menu-services {
	justify-content: space-around;
}
}

@media all and (max-width: 500px) {
.services {
	display: flex;
	flex-flow: column wrap;
	justify-content:center;
	align-items: center;
	padding:0px;
	padding-left:10px;
	padding-right: 10px;
}
.menu-services {
	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-content: space-around;
	align-items: center;
	text-align:justify;
	/* padding-left:10px;
	padding-right: 10px; */
}
.menu-services li {
	padding-top: 30px;
}
.itemtext {
	padding-left:10px;
	padding-right: 10px;
}
.item1 {
	padding-left:10px;
	padding-right: 10px;
	text-align: center;
	font-size: 13px;
}
}

/* section 1 */
.section1 {
	/* height:852px; */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	position: relative;
}

.Section1overlay {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	background-color:rgba(221,218,218,0.2);
	width:100%;
	/* height:852px; */
	z-index:10;
}


div.work-team-desc {
	color:#555555;
	padding: 100px 0 100px 0;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content:space-around;
	align-items:stretch;
	position: relative;
	z-index: 11;
}

ul.work-column {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 70px;
	text-align: justify;
	position: relative;
	z-index:11;
	margin: 0 auto;
}

.work-column li {
	/* width:555px; */
}

.work-column2 {
	margin-left: 30px;
	position: relative;
	z-index:11;
}

p.work-text1, .work-text2 {
	 font-family: 'Roboto Slab', serif;
	 font-size: 14px;
	 font-weight: 400;
	 line-height: 20px;
	 position: relative;
	 z-index:11;
 }


ul.work-team {
	 display:flex;
 	 flex-flow: row nowrap;
 	 justify-content: space-between;
	 padding-top: 70px;
	 position: relative;
 }

 /* .work-team li {
 	padding-left: 30px;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
 }
 .work-column2 {
 	margin-left: 0px;
	padding-top: 70px;
 } */


 div.overlay_in_photo {
	 height:250px;
   position: relative;
	 z-index: 11;
 }

 div.bg {
		position: absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		background-color:none;
		width:263px;
		height:250px;
	}

.overlay_in_photo:hover .bg {
   	background-color:rgba(0,0,0,0.2);
	}


div.butt_in_block, .butt_in_block2 {
		display:flex;
		flex-flow: row wrap;
		justify-content:flex-start;
		padding-top:105px;
	  padding-bottom: 105px;
	}
div.butt_in_block2 {
	  justify-content: flex-end;
	  margin-left: 200px;
		padding-top:105px;
	  padding-bottom: 105px;
}

button.butt-arrow, .butt-arrow2 {
		background:url("img/left1.png") no-repeat;
		background-position: center;
		width:36px;
		height:40px;
		border:1px solid #8f8f8f;
		background-color: #8f8f8f;
		text-align: center;
		outline: none;
		opacity:0;
	}

.butt-arrow2 {
		background:url("img/left.png") no-repeat;
		background-position: center;
		background-color: #8f8f8f;
	}

button.butt-arrow:hover, .butt-arrow2:hover {
		background-color: #c0301c;
		border:1px solid #c0301c;
		opacity: 0;
	}

	.overlay_in_photo:hover .butt-arrow,
	.overlay_in_photo:hover .butt-arrow2 {
		opacity:1;
	}

div.butt-row{
			display:flex;
			flex-flow:row nowrap;
		  justify-content:center;
			padding-left: 40px;
			padding-top: 95px;
		}

div.butt-row2{
 	 		display:flex;
 	 		flex-flow:row wrap;
 	 		justify-content:center;
			padding-top:200px;
 	 	}

div.butt-row3{
		 	 display:flex;
		 	 flex-flow:row nowrap;
		 	 justify-content:center;
			 padding-right: 70px;
			 padding-top: 55px;
		}

a.butt5-facebook, .butt6-twitter, .butt7-google, .butt7-in {
			background:url("img/facebook.png") no-repeat;
	 		background-position:center;
	 		width:28px;
	 		height:28px;
	 		border:none;
			outline: none;
			opacity: 0;
	 }

a.butt5-facebook:hover,
a.butt6-twitter:hover,
a.butt7-google:hover,
a.butt7-in:hover {
		 background-color: #c0301c;
		 border:1px solid #c0301c;
		 opacity: 0;
	 }
.overlay_in_photo:hover .butt5-facebook,
.overlay_in_photo:hover .butt6-twitter,
.overlay_in_photo:hover .butt7-google,
.overlay_in_photo:hover .butt7-in {
	    opacity: 1;
}

a.butt6-twitter {
	 	background:url("img/twitter.png") no-repeat;
	 	background-position: center;
	 }

a.butt7-google {
		background:url("img/google.png") no-repeat;
		background-position: center;
}

a.butt7-in {
		background:url("img/in.png") no-repeat;
		background-position: center;
}

.title3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 400;
		padding-top: 30px;
	}

.title4 {
		font-family: 'Roboto Slab', serif;
		font-size: 13px;
		font-weight: 400;
		padding-top: 15px;
	}


@media all and (max-width: 800px) {
div.work-team-desc {
		justify-content: space-around;
	}
ul.work-column {
		justify-content: space-around;
	}
ul.work-team {
	  justify-content: space-around;
}
	}

	@media all and (max-width: 500px) {
div.work-team-desc {
		display: flex;
		flex-flow: column wrap;
		justify-content:center;
		align-items: center;
		padding: 100px 0 100px 0;
	}
ul.work-column {
		display: flex;
		flex-flow: column nowrap;
		justify-content:space-around;
		align-content: space-around;
		align-items: center;
		text-align:justify;
		padding-left:10px;
		padding-right: 10px;
	}

.work-column li {
		padding-top: 30px;
	}
.work-column2 {
  	margin-left:0px;
  }
ul.work-team {
		 display:flex;
	 	 flex-flow: column wrap;
	 	 justify-content: space-around;
	 }

.title3 {
		padding-top:10px;

	}
.title4 {
		padding-top: 5px;
		padding-bottom:20px;
	}
	/* div.overlay_in_photo img {
		width:300px;
		position: relative;
		z-index: 11;
	} */
	}

	/* section 2 */
.section2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

div.latest-work-row {
	text-align: center;
}

ul.works-row-menu {
		justify-content: center;
		padding-top: 30px;
	}

.works-row-menu a {
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 16px;
		text-decoration:none;
		color:#555555;
		margin-left:30px;
		display: block;
	}

.works-row-menu a:hover {
		color:#c0301c;
	}

ul.photo-row-menu {
		display: flex;
		flex-flow: row wrap;
		justify-content:space-between;
		padding-top: 70px;
		box-sizing:border-box;
	 }

.photo-row-menu li {
	  width:360px;
	  height:320px;
		margin-top:30px;
		/* margin-left: 30px; */
 }

div.overlay-row {
	  height: 320px;
		position: relative;
		z-index: 11;
	}

 div.imgOverlay {
	 	position: absolute;
	 	top:0;
	 	right:0;
	 	left:0;
	 	bottom:0;
	 	background-color:none;
	 	width:100%;
	 	height:320px;
 }

 .overlay-row:hover .imgOverlay {
	 background-color:rgba(192,48,28,0.6);
 }

 .block_in_photo {
 		 display:flex;
 		 flex-flow: column wrap;
 		 align-items:center;
 		 align-self:center;
 		 padding-top:107px;
 		 padding-bottom: 107px;
		 opacity: 0;
 	 }

 .block_in_photo1 {
 		 color:white;
 		 font-family: 'Montserrat', sans-serif;
 		 font-size: 18px;
 		 font-weight: 400;
 		 text-transform: uppercase;
 	 }

 .block_in_photo2 {
 	  color:white;
 	  font-family: 'Roboto Slab', serif;
 	  font-size: 12px;
 	  font-weight: 400;
 		text-transform: capitalize;
 		padding-top: 18px;
  }

	.overlay-row:hover .block_in_photo {
		opacity: 1;
	}

  button.butt_in_photo {
 	  width:100px;
 		height:40px;
 		background-image: url("img/left3.png");
 		background-position:80% 50%;
 		background-repeat: no-repeat;
 		background-color: white;
 		border: 1px solid white;
 		outline: none;
 		color:#c0301c;
 		font-family: 'Roboto Slab', serif;
 		font-size: 14px;
 		font-weight: 400;
 		text-align: center;
 		/* line-height: 40px; */
 		text-transform: uppercase;
 		margin-top:28px;
 		padding-right:24px;
		position: relative;
		opacity: 0;
  }

.butt_in_photo:active {
 		background-image: url("img/left4.png");
 		background-size: 10px;
 		background-repeat: no-repeat;
 		background-position:80% 50%;
 		color:white;
 		background-color: #c0301c;
 }

 .overlay-row:hover .butt_in_photo {
	 opacity: 1;
 }
 @media all and (max-width: 800px) {
 div.latest-work-row {
 		justify-content: space-around;
 	}
 ul.works-row-menu{
 		justify-content: space-around;
 	}
 ul.photo-row-menu{
 	  justify-content: space-around;
 }
 	}

 	@media all and (max-width: 500px) {
 div.latest-work-row {
 		display: flex;
 		flex-flow: column wrap;
 		justify-content:center;
 		align-items: center;
 		padding: 100px 0 100px 0;
 	}
 ul.works-row-menu {
 		display: flex;
 		flex-flow: column nowrap;
		justify-content: center;
		align-self: center;
		align-content: stretch;
		align-self: center;
 	}

.works-row-menu a {
			text-align: center;
			/* padding: 10px; */
			border-top: 1px solid rgba(0,0,0,1);
			border-bottom: 1px solid rgba(0, 0, 0,0.1);
			margin-left:0px;
		}

 .works-row-menu li {
 		padding-top: 30px;
 	}
 	}

 /* Section 3 */

.section3 {
		 color:#555555;
		 background:url("img/img29.png") no-repeat;
	   background-position: center center;
	 	 height:368px;
	 	 position: relative;
		 display: flex;
		 flex-flow: column wrap;
		 flex-flow: row nowrap;
		 justify-content: space-around;

	 }

.photoOverlay {
		 position: absolute;
		 top:0;
	 	 right:0;
	 	 left:0;
	 	 bottom:0;
	 	 background-color:rgba(192,48,28,0.6);
	 	 width:100%;
	 	 height:368px;
	 }

.project-part {
	    color:white;
	 		text-align: center;
	 		padding: 100px 0 98px 0;
	 		position: relative;
	 		z-index:11;
	 }

.title5 {
		font-family: 'Roboto Slab', serif;
 		font-weight: 400;
 		font-size: 30px;
		z-index:11;
	 }

.start-butt1 {
		 margin-top:50px;
		 z-index:11;
	 }

	 /* section 4 */
.section4 {
	display: flex;
	flex-flow: column wrap;
	flex-flow: row nowrap;
	justify-content: space-around;
	 }

ul.calendar-column {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		text-align: center;
		list-style: none;
		text-decoration: none;
		padding-top:70px;
	}


/* li.calendar-photo,li.calendar-photo2 {
	 		width: 460px;
	 	}

li.calendar-text,	li.calendar-text2 {
	 		width:650px;
	 	} */

/* li.calendar-text2,li.calendar-photo2 {
	 		margin-top:30px;
	 	} */
.calendar-text {
	margin-left: 30px;
}
div.calendar-photo {
	background:url("img/img28.png") no-repeat;
	background-position: left;
	width:460px;
	height: 322px;
}

div.calendar-photo2 {
	background:url("img/img27.png") no-repeat;
	background-position: left;
	width:460px;
	height: 322px;
}

div.line3 {
	background: url("img/line3.png") no-repeat;
	background-position: center;
	height:3px;
	width: 100%;
	margin: 0 auto;
}
div.artc-row2{
		/* margin-top:30px;
		margin-left: 30px; */
	}

div.rect {
		 text-align: right;
		 width:70px;
		 height:75px;
		 border: 2px solid #555555;
	 }

p.date,p.month {
		 font-family: 'Montserrat', sans-serif;
		 text-align: center;
		 font-weight: 700;
	 }

p.date {
		padding: 20px 20px 0 20px;
		font-size: 20px;
	}

div.cal-desc {
		text-align: left;
 		margin-top: -60px;
 	  margin-left: 100px;
	 }

p.title-name {
		color:red;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
	}

p.title-text {
		 font-style: italic;
	 }

a.color {
		color:#555555;
		text-decoration: none;
	 }

p.artictle-text{
		color:#555555;
		font-family: 'Roboto Slab', serif;
 		font-weight: 400;
 		font-size: 14px;
		line-height: 20px;
		text-align: justify;
		padding-top: 23px;
	}

p.butt8 {
		font-family: 'Roboto Slab', serif;
 		font-weight: 700;
 		font-size: 13px;
		text-transform: uppercase;
		text-align: justify;
		padding-top: 40px;
	}

.butt8 a {
		text-decoration: none;
		color:#555555;
	}

div.artc-row:hover .butt8 a {
		 color:red;
	 }

div.artc-row:hover .color {
		 color:red;
	 }

@media all and (max-width: 800px) {
	ul.calendar-column {
	 	 justify-content: space-around;
	  }
	  }

@media all and (max-width: 500px) {
ul.calendar-column {
	 	 display: flex;
	 	 flex-flow: column nowrap;
	 	 justify-content: center;
	 	 align-self: center;
	 	 align-content: stretch;
	 	 align-self: center;
	  }
.calendar-text {
		margin-left:0px;
		padding-right:0px;
		margin-top: 30px;
	}
	div.calendar-photo, div.calendar-photo2 {
		width:320px;
		height: 322px;
	}

	  }
	 /* SOCIAL ROW */

.slider {
	 /* height:476px; */
		position: relative;
		padding:100px 0 100px 0;
	  display: flex;
		flex-flow: column wrap;
		flex-flow: row nowrap;
		justify-content: space-around;
	 }

.iconOverlay {
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		background-color:rgba(221,218,218,0.2);
		width:100%;
		/* height:476px; */
		z-index:10;
  }

ul.social-icon-row {
		position: relative;
		z-index:11;
		display: flex;
		flex-flow: row nowrap;
		justify-content:center;
	}

li.icon-1,.icon-2,.icon-3,.icon-4,.icon-5 {
		background:url("img/icon30.png") no-repeat;
		background-position: center;
		width: 160px;
		height:58px;
	}

li.icon-2 {
		background:url("img/icon31.png") no-repeat;
		background-position: center;
	}

li.icon-3 {
		background:url("img/icon33.png") no-repeat;
		background-position: center;
	}

li.icon-4 {
		background:url("img/icon32.png") no-repeat;
		background-position: center;
	}

li.icon-5 {
		background:url("img/icon34.png") no-repeat;
		background-position: center;
	}

ul.quote-row {
		display: flex;
		flex-flow: row wrap;
		justify-content:center;
		padding-top: 76px;
		position: relative;
		z-index: 11;
	}

.quote-row p {
		color:#555555;
		font-style: italic;
		text-align: center;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

p.name-quote {
	 font-style: normal;
	 padding-top: 42px;
	 font-size: 16px;
	}

div.circles {
		display: flex;
		flex-flow: row nowrap;
		justify-content:center;
		margin-top: 40px;
		position: relative;
		z-index: 11;
	}

div.circle1,.circle2,.circle3{
   width:13px;
	 height:13px;
	 border-radius:6.5px;
	 background-color: #dddddd;
	 margin-left: 7px;
	}

.circle1:hover,.circle2:hover,.circle3:hover {
		background-color:#c0301c;
	}

@media all and (max-width: 800px) {
ul.social-icon-row {
		 justify-content: space-around;
	 }

ul.ul.quote-row {
		 justify-content: space-around;
	}
	 }

@media all and (max-width: 500px) {
ul.social-icon-row {
		 display: flex;
		 flex-flow: column nowrap;
		 justify-content: center;
		 align-items: center;

	 }
ul.quote-row {
	 		display: flex;
	 		flex-flow: column wrap;
			align-items: center;
			align-content: space-around;
	 		padding-top: 76px;
	 	}
	}

  /* CONTACT SECTION */
 .section5 {
	 display: flex;
	 flex-flow: column wrap;
	 flex-flow: row nowrap;
	 justify-content: space-around;
 }
div.contact-desc {
		 padding: 100px 0 100px 0;
	 }
 .contact-section {
	   text-align: center;
 }
	 /* div.line {
		 background:url("img/line.png") no-repeat;
		 background-position: center center;
		 width: 50px;
		 height: 2px;
	 } */

ul.contact_block {
		 display: flex;
		 flex-flow: row nowrap;
		 justify-content: space-between;
		 padding-top: 70px;
	 }

li.contact_info {
		 /* width:365px; */
	 }

div.icon_123 {
		 background:url("img/icon123.png") no-repeat;
		 background-position: center center;
		 width: 15px;
		 height: 18px;
	 }

div.icon_456, .icon_789 {
		 background:url("img/icon456.png") no-repeat;
		 background-position: center center;
		 width: 15px;
		 height: 20px;
		 margin-top: 40px;
	 }

div.icon_789 {
		 background:url("img/icon789.png") no-repeat;
 		 background-position: center center;
		}

div.adress-block {
		 width:230px;
		 padding-left: 25px;
		 color:#555555;
		 font-family: 'Roboto Slab', serif;
		 font-weight: 400;
		 font-size: 12px;
		 margin-top: -15px;
	 }

p.adress-title {
		 font-family: 'Montserrat', sans-serif;
		 font-size: 14px;
		 font-weight: 700;
		 text-transform: uppercase;
	 }
  /* Feedback form */

div.block1 {
			display: flex;
			flex-flow: row nowrap;
		  justify-content: space-between;
		 }

div.block2 {
		 	display: flex;
		 	flex-flow: row nowrap;
		 	justify-content: space-between;
		}

div.block2 {
			margin-top: 22px;
				}
div.textarea {
	    display: flex;
	    flex-flow: row nowrap;
			justify-content: space-between;
}

div.submit-block{
			display: flex;
 			flex-flow: row nowrap;
			margin-top: 22px;
    }

input[type="text"], input[type="e-mail"]  {
			width:350px;
			height:46px;
			border:2px solid #555555;
			outline: none;
		}

 #e-mail, #company {
	   padding-top:0px;
 }

input[type="text"]::placeholder,
input[type="e-mail"]::placeholder,
#textarea::placeholder {
			font-family: 'Roboto Slab', serif;
 		  font-weight: 400;
 		  font-size: 12px;
			text-transform: uppercase;
			padding: 17px;
		}

input:focus {
			border:2px solid #c0301c;
		}


#textarea {
			width:730px;
			height:100px;
			margin-top: 22px;
			border:2px solid #555555;
			outline: none;
		}

#textarea:focus {
	  	 border:2px solid #c0301c;
	  }


#submit{
	  	 background: none;
	  	 width:180px;
	  	 height:50px;
	  	 border:2px solid #555555;
	  	 color:#555555;
			 font-family: 'Roboto Slab', serif;
  		 font-weight: 400;
  		 font-size: 12px;
	  	 text-transform:uppercase;
			 /* margin-top: 22px; */
			 outline: none;
	   }
#submit:hover {
	  		background: white;
	  		color:#c0301c;
	  		border:2px solid #c0301c;
	   }

span.submit_text {
	     font-family: 'Roboto Slab', serif;
	     font-weight: 400;
	     font-size: 12px;
			 margin-top: 20px;
    }

span.star {
	     color:red;
	     padding-left:38px;
			 padding-right:2px;
			 margin-top: 20px;
    }

@media all and (max-width: 800px) {
ul.contact_block  {
			justify-content: space-around;
			 }
		}

@media all and (max-width: 500px) {
ul.contact_block  {
			display: flex;
			flex-flow: column nowrap;
			/* justify-content: center;
			align-items: center;
			align-content: center;
			align-self: center; */
	}
li.contact_info {
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			align-content:stretch;
			align-self: center;
			text-align: center;
}
	div.block1 {
			  display: flex;
				flex-flow: column nowrap;
			  justify-content: space-between;
				align-items: center;
				align-content: space-around;
				align-self: center;
				margin-top: 22px;
			 }

	div.block2 {
			 	display: flex;
			 	flex-flow: column nowrap;
			 	justify-content: space-between;
				align-items: center;
				align-content: space-around;
				align-self: center;
				margin-top: 22px;
			}
div.textarea {
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;
				align-items: center;
				align-content: space-around;
				align-self: center;
			}
div.submit-block{
				display: flex;
			 	flex-flow: row nowrap;
				margin-top: 22px;
			}
input[type="text"], input[type="e-mail"]  {
				width:320px;
				height:46px;
			}

#email, #company {
		 	  margin-top:22px;
		  }

#textarea {
				width:320px;
				height:100px;
				margin-top: 22px;
		}
span.submit_text {
				margin-top: 0px;
		 }

span.star {
			  color:red;
			  padding-left:38px;
				padding-right:2px;
				margin-top:0px;
	 }
	}

/* FOOTER */
.footer {
	    background-color: #c0301c;
	    /* margin-top: 13px; */
	    /* height:307px; */
			display: flex;
			flex-flow: column wrap;
			flex-flow: row nowrap;
			justify-content: space-around;
}

div.footer_content {
			display: flex;
      flex-flow: column wrap;
 	    align-items: center;
			/* padding:60px 0 12px 0; */
		   padding: 100px 0 100px 0;
}


div.twitter-icons {
	   display: flex;
     flex-flow: row nowrap;
	   justify-content: center;
}

div.ellipse {
     width:35px;
		 height:35px;
		 border-radius: 17.5px;
		 border:2px solid white;
		 margin-left: 15px;
}

div.ellipse:hover {
		border-radius:17.5px;
		background-color: white;
}

.t-icon {
		background:url("img/fa-twitter1.png") no-repeat;
 		background-position: center;
 		width: 33px;
 		height: 33px;
}

.t-icon:hover {
		background:url("img/fa-twitter2.png") no-repeat;
		background-position: center;
		width: 33px;
		height: 33px;
}

div.line2 {
		background:url("img/line2.png") no-repeat;
		/* background-position: center; */
		width: 50px;
		height: 2px;
		margin-top: 30px;
}
div.copyright {
	  color:white;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 30px;
}
